body {
  background-image: url("https://user-images.githubusercontent.com/74217313/98739305-b54c8e00-236e-11eb-96a7-8cab9aa6a641.png");
  background-color: #000000;
  color: #dddddd;
  font-family: Arial, Helvitica, sans-serif;
  margin: 10% 5%
}

.exp-header{
  text-align: inherit;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0, 0, 0, 0.3)
  
}

p {
  font-style: italic;
}
